[submodule "thirdparty/onnxruntime"]
	path = thirdparty/onnxruntime
url=https://github.com/Jimmy2099/onnxruntime
[submodule "thirdparty/gogpu"]
	path = thirdparty/gogpu
	url = https://github.com/gogpu/gogpu
[submodule "thirdparty/naga"]
	path = thirdparty/naga
	url = https://github.com/gogpu/naga